$blue: #14181f;
$blue-dark: #0a0c10;
$blue-light: #272a31;

$red: #EA1D22;
$red-dark: #B31317;
$red-light: #F02A2F;

$white: #EDF1F7;
$white-dark: #E5E9EF;
$white-light: #F4F7FB;

$gary-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;
